.pricing {
  margin-top: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  & h3 {
    text-align: center;
  }
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17rem;
  height: 25rem;
  background: var(--shape-base);
  border-radius: 1.5rem;
  padding: 2rem 1.563rem 1.75rem;
}

.info-value {

  & h4 {
    color: var(--blue-light);
  }

  & h2 {
    font-size: var(--title-md);
    margin-top: 1.5rem;

    & span {
      font-size: var(--title-xs);
    }
  }

  & p {
    font-size: var(--body-sm);
    color: var(--text-label);
    margin-top: 0.5rem;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & .items {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
  
    & .item {
      display: flex;
      gap: 0.5rem;
  
      & p {
        font-size: var(--body-xs);
      }
    }
  }

  & a {
    display: flex;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    background: var(--blue-dark);
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;

    &:hover::before {
      scale: 1;
      opacity: 1;
    }
    
    &::before {
      content: "";
      border-radius: inherit;
      width: inherit;
      height: inherit;
      background: var(--blue-base);
      position: absolute;
      
      scale: 0;
      opacity: 0;
      transition: scale .3s ease-out, opacity .3s ease-out;
      transform-origin: center;

      z-index: -1;
    }
  }
}

.main-price-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17rem;
  height: 25rem;
  background: var(--shape-hover);
  border-radius: 1.5rem;
  padding: 2rem 1.563rem 1.75rem;

  & .popular {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h4 {
      color: var(--pink-light);
    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.625rem;
      height: 1.875rem;
      border-radius: 999px;
      background: var(--shape-stroke);
      font-size: var(--tag);
      font-weight: var(--fw-bold);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  & .item {
    & img {
      width: 14px;
      height: 14px;
    }
  }

  & a {
    background: var(--pink-dark);

    &::before {
      background: var(--pink-base);
  }
  }
}

/* Tablet */
@media (width >= 600px) {
  .pricing {
    background: url(../assets/img/pricing-background.png) no-repeat bottom/cover;
  }

  .price {
    width: 28.125rem;
    height: 30rem;
    padding: 2rem 1.563rem 1.563rem;
  }

  .info-value {
    & h4 {
      font-size: var(--body-lg);
      color: var(--blue-light);
    }
  
    & h2 {
      font-size: var(--title-lg);
  
      & span {
        font-size: var(--title-xs);
      }
    }
  
    & p {
      font-size: var(--body-lg);
    }
  }

  .details {
    & .items {
      & .item {    
        & p {
          font-size: var(--body-lg);
        }

        & img {
          width: 23px;
        }
      }
    }

    & a {
      width: 100%;
      height: 3.125rem;
      font-size: var(--body-lg);
    }

  }

  .main-price-card {
    width: 28.125rem;
    height: 30rem;
  
    & .popular {
      & span {
        font-size: var(--link);
      }
    }
  
    & .item {
      & img {
        width: 23px;
        height: 23px;
      }
    }
  }
} 

/* Desktop */
@media (width >= 1000px) {  
  .pricing {
    gap: 9.375rem;
    background: url(../assets/img/pricing-background.png) no-repeat bottom/cover;
  }

  .prices {
    width: 64.063rem;
    height: 37.875rem;
    flex-direction: row;
    justify-content: center;
    position: relative;
    
    & .star-pricing:nth-of-type(1) {
      position: absolute;
      width: 13px;
      height: 13px;
      top: 15%;
      left: 5.5%;
      transform: rotate(-8deg);
    }

    & .star-pricing:nth-of-type(2) {
      position: absolute;
      width: 26px;
      height: 26px;
      top: 8%;
      left: 6%;
      transform: rotate(-8deg);
    }

    & .star-pricing:nth-of-type(3) {
      position: absolute;
      width: 13px;
      height: 13px;
      bottom: 17%;
      right: 13%;
      transform: rotate(8deg);
    }

    & .star-pricing:nth-of-type(4) {
      position: absolute;
      width: 23px;
      height: 23px;
      bottom: 18%;
      right: 9%;
      transform: rotate(8deg);
    }
  }

  .price {
    width: 18rem;
    height: 26rem;
    position: absolute;
    z-index: 0;

    &:nth-of-type(1) {
      bottom: 24%;
      left: 11.5%;

      &:hover {
        z-index: 3;
        animation: slide-top-price-left .5s ease-in-out both;
        border: 0px solid var(--shape-stroke)
      }
    
      &:not(:hover) {
        z-index: 0;
        animation: slide-top-price-left-reverse .5s ease-in-out both;
        border: 1px solid var(--shape-stroke)
      }
    }
    
    &:nth-of-type(3) {
      bottom: 24%;
      right: 11.5%;

      &:hover {
        z-index: 3;
        animation: slide-top-price-right .5s ease-in-out both;
        border: 0px solid var(--shape-stroke)
      }
    
      &:not(:hover) {
        z-index: 0;
        animation: slide-top-price-right-reverse .5s ease-in-out both;
        border: 1px solid var(--shape-stroke)
      }
    }
  }

  .info-value {
    & h2 {
      font-size: var(--title-md);
  
      & span {
        font-size: var(--title-xs);
      }
    }
  
    & p {
      font-size: var(--body-sm);
    }
  }

  .details {
    & .items {
      & .item {
        & p {
          font-size: var(--body-xs);
        }
      }
    }

    & img {
      width: 14px;
      height: 14px;
    }
  
    & a {
      display: flex;
      width: 100%;
      height: 2.5rem;
      justify-content: center;
      align-items: center;
      font-size: var(--button);
    }
  }
  
  .main-price-card {
    width: 18rem;
    height: 26rem;
    z-index: 2;

    & #bunny {
      position: absolute;
      width: 45px;
      height: 50px;
      top: -12%;
      left: 10%;
    }

     & .popular {
      & span {
        font-size: var(--tag);
      }
    }

    & .item {
      & img {
        width: 14px;
        height: 14px;
      }
    }

    &:hover {
      animation: slide-top-main .5s ease-in-out both, shadow ease-in-out both;
    }

    &:not(:hover) {
      animation: slide-top-main-reverse .4s ease-in-out both;
    }
  }
}

@keyframes slide-top-main {
  0% {
    transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(0); 
  }
  100% {
    transform: translateZ(10px) translateY(-10px);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
  }
}

@keyframes slide-top-main-reverse {
  0% {
    transform: translateZ(10px) translateY(-10px);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
  }
  100% {
    transform: translateZ(0) translateY(0);
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(0); 
  }
}

@keyframes slide-top-price-left {
  0% {
    transform: rotate(-7deg) translateZ(0) translateY(0);
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(0); 
  }
  100% {
    transform: rotate(-7deg) translateZ(10px) translateY(-10px);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
  }
}

@keyframes slide-top-price-left-reverse {
  0% {
    transform: rotate(-7deg) translateZ(10px) translateY(-10px);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
  }
  100% {
    transform: rotate(-7deg)  translateZ(0) translateY(0);
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(0); 
  }
}

@keyframes slide-top-price-right {
  0% {
    transform: rotate(7deg) translateZ(0) translateY(0);
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(0); 
  }
  100% {
    transform: rotate(7deg) translateZ(10px) translateY(-10px);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
  }
}

@keyframes slide-top-price-right-reverse {
  0% {
    transform: rotate(7deg) translateZ(10px) translateY(-10px);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
  }
  100% {
    transform: rotate(7deg)  translateZ(0) translateY(0);
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(0); 
  }
}