/* Mobile First */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0xp;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw; 
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.413);
    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/fundo.jpg) no-repeat;
    background-size: cover;
    height: 200px;   
}

section#login div#formulario {
    display: block;
    padding: 10px;
}

div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p {
    font-size: 0.8em;
    margin: 10px 0px;
}

form div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo label {
    display: none;
}

div.campo i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-11px);
}

div.campo input:focus-within {
    background-color: white;
}

form input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: #2d6462;
}

form a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
    color: #2d6462;
}

form a.botao:hover {
    background-color: #6cd3cf;
}

form a.botao i {
    font-size: 0.8em;
}