#result {
  margin-top: 50px;
  flex-direction: column;
  text-align: center;
  gap: 40px;

  & #result-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
    
    & h3 {
      font-size: var(--label-medium);
      text-transform: uppercase;
    }
  
    & p {
      text-transform: uppercase;
      color: var(--content-secondary);
    }
  }

  & #drawn-result {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 29px;

  & .result-item {
    position: relative;
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .square {
      width: 84px;
      height: 84px;
      background: var(--content-brand);
      border-radius: 28px;
      position: absolute;
      z-index: 0;
      animation: square-scale-up 0.5s ease-out forwards,
      square-rotate 2.5s ease-in-out 0.5s forwards,
      square-scale-down 0.5s ease-in 3s forwards;
    }

    & .number {
      font-family: var(--ff-mono);
      font-weight: var(--fw-bold);
      font-size: 48px;
      z-index: 1;
      opacity: 0;
      animation: number-fade-in 1s ease-in 1.5s forwards, num-change-color 4s ease-in 1s forwards;
    }
   }
  }

  & #div-button { 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: button-opacity 1.5s ease-in-out 3.5s both;

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 48px;
      gap: 8px;
      height: 56px;
      width: 319px;
      border-radius: 8px;
      color: var(--content-primary);
      background: var(--background-tertiary);
      border: 2px solid transparent;
      font-family: var(--ff-flex);
      font-size: var(--label-small);
      font-weight: var(--fw-bold);
      text-transform: uppercase;
    
      &:hover {
        background: 
          linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
          conic-gradient(
            #77c0af 0%,
            #d1dc97 14.84%,
            #e9ab83 32.15%,
            #d58e60 65.79%,
            #91a1fa 84.58%
          ) border-box;
    
        & img {
          animation: rotate-replay 1s ease-in-out both
        }  
      }    
    }
  }
}

.hidden {
  display: none;
}

@keyframes rotate-replay {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes button-opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes square-scale-up {
  0% { 
    transform: scale(0); 
  }
  100% { 
    transform: scale(1);
   }
}

@keyframes square-rotate {
  0% {
    transform: scale(1) rotate(0deg); 
  }
  100% { 
    transform: scale(1) rotate(360deg); 
  }
}

@keyframes square-scale-down {
  0% { 
    transform: scale(1) rotate(360deg); 
  }
  100% { 
    transform: scale(0) rotate(360deg); 
  }
}

@keyframes number-fade-in {
  to {
    opacity: 1;
  }
}

@keyframes num-change-color {
  0% {
    color: var(--background-primary);
  }
  100% {
    color: var(--content-brand);
}
}

@media (min-width: 1050px) {
  #result {
    grid-row: 1/3;
    grid-column: 2;
    margin-top: 0px;
    width: 400px;
    justify-self: center;

    & #div-button {
      & button {
        font-size: var(--label-medium); 
        width: 100%;
        }    
    }
  }
}