* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  align-items: center;
  gap: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
  place-self: center;
}

ul {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
  gap: 1.3rem;
  display: flex;
  flex-wrap: wrap;
}

header {
  display: grid;
  gap: 3.152rem;
  margin-top: 3.75rem;
}

nav a {
  display: flex;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 1.25rem 1.875rem;
  border: 0.125rem solid transparent;
}

nav a:hover {
  border: 0.125rem solid red;
  border-radius: 0.3rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 62.5rem;
}

section {
  display: grid;
  background-color: white;
  text-align: right;
  padding: 1.25rem 2.5rem;
}

section::before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 4px;
  background: red;
  right: 920px;
  top: 290px;
}

section a:hover {
  background: #900;
}

article {
  display: grid;
  justify-self: right;
  background-color: white;
  padding: 2.5rem;
}

.lista1 li {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1.25rem 1.875rem;
  gap: 1.25rem;
}

.lista1 li:nth-child(odd) {
  background: #f7f7f7;
}

article li:hover {
  border-left: 0.25rem solid #900;
}

p {
  font-size: 1.25rem;
}

h2 {
  font-size: 4rem;
  color: #c6c6c6;
  text-align: right;
  place-self: center;
  padding: 3rem;
  background-image: url("./img/onda.svg");
}

.botao {
  color: white;
  text-decoration: none;
  background-color: #ee2211;
  padding: 1.25rem 1.875rem;
  width: fit-content;
  border-radius: 0.3rem;
  place-self: end;
}

footer {
  text-align: center;
  background-color: white;
  padding: 3.125rem;
  width: 100%;
  box-sizing: border-box;
}
